* {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}
.badge {
    background-color: #25292e;
    padding: 5px;
    color: azure;
    border-radius: 5px;
    margin: auto;
}

.badge-alert {
    background-color: red;
    padding: 5px;
    color: azure;
    border-radius: 5px;
    animation: blinker 2s linear infinite;
}

.top-info {
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

.exportCSV {
    padding: 3px 5px;
    background-color: #25292e;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: smaller;

    span {
        margin: 0px;
        padding: 0px;
        font-size: large;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.subject {
    margin: 10px 0px 5px 0px;
    font-size: 1.5em;
}

.secondary-info {
    vertical-align: middle;
    justify-content: space-around;
}

.secondary-item {
    vertical-align: middle;
    padding: 0.3vh;
}

.secondary-item p {
    font-size: 16px;
}

p.secondary-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span.secondary-item {
    font-size: medium;
    vertical-align: auto;
}

.table {
    margin: auto;
    max-width: 60vw;
}

.table2-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #000000;
    vertical-align: middle;
    align-items: center;
    height: 6vh;
    padding: 0.1vh 0.2vh;
}

.table2-row-enlazada {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #a55e00;
    background: antiquewhite;
    vertical-align: middle;
    align-items: center;
    height: 6vh;
    padding: 0.1vh 0vh;
}

.enlazadas-info {
    border: 1px solid #a55e00;
    background: antiquewhite;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.enlazadas-label {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: .8vh 0vh;
}

.amount-info {
    background-color: #25292e;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5vh;
    margin: 0px 0px 1px;
}

.average-info {
    background-color: #25292e;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5vh;
    margin: 0px;
}

.secondDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

.index {
    width: 2vh;
}

.column2-1 {
    width: 40%;
    display: flex;
}

.column2-2 {
    width: 17%;
}

.column2-3 {
    width: 25%;
}

.column2-4 {
    width: 10%;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0vh;
}

.btn {
    padding: 1vh;
    width: 30%;
}

.btn-active {
    background-color: #25292e;
    color: #FFFFFF;
}

.btn-unactive {
    background-color: #FFFFFF;
    color: #25292e;
    border-width: 1px;
    border-color: #25292e;
}

@media only screen and (max-width: 1300px) {
    .table {
        margin: auto;
        max-width: 60vw;
    }

    .item2-text {
        font-size: 1.5vh;
        margin: auto;
    }

    .header-text {
        font-size: 1.5vh;
    }

    .main-title {
        font-size: 4vh;
    }

    .info-text {
        font-size: 1.5vh;
    }

    .index {
        padding-right: 1vh;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 900px) {

    .table {
        margin: auto;
        max-width: 80vw;
    }

    .item2-text {
        font-size: 1.6vh;
    }

    .header-text {
        font-size: 1.2vh;
    }

    .table2-cell {
        line-height: 1;
    }
}



@media only screen and (max-width: 500px) {
    .table {
        margin: auto;
        max-width: 100%;
    }

    .item2-text {
        font-size: .8rem;
    }

    .column2-2 p{
        font-size: .7rem;
    }
    .column2-3 p{
        font-size: .7rem;
    }
    .column2-4 p{
        font-size: .7rem;
    }
}

@media only screen and (max-width: 300px) {
    
    .column2-2 p{
        font-size: .7rem;
    }
    .table2-cell {
        line-height: 1;
        font-size: 0.1vw;
    }
}