@use "_colors";
@use "sass:color";

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a {
    color: #000000;
    font-size: 2vh;
}

p {
    padding: 0px;
    margin: 10px;
    font-size: calc(2vh - 4px);
}

.container {
    padding: 2vh;
}

h2 {
    text-align: center;
    margin-top: 1vh;
}

.chips {
    span {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        
        &.ssanta {
            background-color: #450045;
        }
        &.glorias {
            background-color: #add8e6;
        }
        &.Extraordinarias {
            background-color: teal;
        }
    }
    align-content: center;
    align-items: center;
    width: 90%;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}


.blinker {
    vertical-align: middle;
    color: red;
    animation: blinker 2s linear infinite;
}

.liveIndicator {
    color: red;
    animation: blinkerText 2s linear infinite;
}

#row {
    margin: 0px 5px;
    
    &.SemanaSanta {
        color: #450045;
        background-color: #80008030;
    }
    &.SemanaSanta:nth-child(odd) {
        color: #450045;
        background-color: #80008015;
    }
    &.Glorias {
        background-color: #add8e640;
    }
    &.Glorias:nth-child(odd) {
        background-color: #add8e690;
    }
    &.ProcesiónExtraordinaria {
        background-color: #008080;
        color: white;
        border: white .5px solid;
    }
    &.ProcesiónExtraordinaria:nth-child(odd) {
        background-color: teal;
        color: white;
    }
}


@keyframes blinker {
    50% {
        background-color: rgba(255, 0, 0, 0.317);
    }
    0% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}
@keyframes blinkerText {
    50% {
        color: red;
    }
    0% {
        color: #000000;
    }
    100% {
        color: #000000;
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;

    tr:hover {
        z-index: 5;
        cursor: pointer;
    }

    tr {
        z-index: 1;
        height: 4.4vh;
        text-align: center;
    }

    tr.isLive {
        animation: blinker 2s linear infinite;
        background-color: wheat;
        color: red;
    }

    tr:nth-child(odd) {
        background-color: lightgrey;
        z-index: 1;
    }

    td {
        font-size: 1em;
        padding: .7vw 5px;
    }
    
}

@media only screen and (max-width: 1250px) {
    table {
        td {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-title {

        h1{
            font-size: 1.5em;
        }

    }

    .chips {
        span {
            height: 5px;
            width: 5px;
        }

        p {
            font-size: 2.5vw;
        }
    }

    table {
        th {
            font-size: 0.8em;
        }
        td {
            font-size: 0.5em;
        }
    }
}



