* {
    font-family: 'Inter', sans-serif;
}
.badge {
    background-color: #25292e;
    padding: 5px;
    color: azure;
    border-radius: 5px;
    margin: auto;
}

.badge-alert {
    background-color: red;
    padding: 5px;
    color: azure;
    border-radius: 5px;
    animation: blinker 2s linear infinite;
}

.top-info {
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.subject {
    margin: 10px 0px 5px 0px;
}

.secondary-info {
    vertical-align: middle;
    justify-content: space-around;
}

.secondary-item {
    vertical-align: middle;
    margin: 5px 0px 0px 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.table2-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #000000;
    vertical-align: middle;
    align-items: center;
    height: 6vh;
    padding: 0.5vh;
}

.table2-row-enlazada {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #a55e00;
    background: antiquewhite;
    vertical-align: middle;
    align-items: center;
    height: 6vh;
    padding: 0.5vh;
}

.enlazadas-info {
    border: 1px solid #a55e00;
    background: antiquewhite;
    width: 20px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.enlazadas-label {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.amount-info {
    background-color: #25292e;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5vh;
    margin-bottom: 1px;
}

.average-info {
    background-color: #25292e;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5vh;
    margin: 0px;
}

.column2-1 {
    width: 30%;
    display: flex;
}

.secondDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

.index {
    padding-right: 5vh;
}

.column2-2 {
    width: 15%;
}

.column2-3 {
    width: 25%;
}

.column2-4 {
    width: 15%;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0vh;
}

.btn {
    padding: 1vh;
    width: 30%;
}

.btn-active {
    background-color: #25292e;
    color: #FFFFFF;
}

.btn-unactive {
    background-color: #FFFFFF;
    color: #25292e;
    border-width: 1px;
    border-color: #25292e;
}

@media only screen and (max-width: 1300px) {
    .item2-text {
        font-size: 1.5vh;
        margin: auto;
    }

    .header-text {
        font-size: 1.5vh;
    }

    .main-title {
        font-size: 4vh;
    }

    .info-text {
        font-size: 1.5vh;
    }

    .index {
        padding-right: 1vh;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 900px) {
    .item2-text {
        font-size: 1.4vh;
    }

    .header-text {
        font-size: 1.2vh;
    }

    .table2-cell {
        line-height: 1;
    }
}

@media only screen and (max-width: 350px) {

    .table2-cell {
        line-height: 0.6;
        font-size: 0.2vw;
    }
}

@media only screen and (max-width: 300px) {

    .table2-cell {
        line-height: 1;
        font-size: 0.1vw;
    }
}