@use "_colors";
@use "sass:color";

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a {
    color: #000000;
    font-size: 2vh;
}

p {
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 2vh;
}

h2 {
    text-align: center;
    margin-top: 1vh;
}


.blinker {
    vertical-align: middle;
    color: red;
    animation: blinker 2s linear infinite;
}

.liveIndicator {
    color: red;
    animation: blinkerText 2s linear infinite;
}

tr#row {
    margin: 0px 5px;
}

#row.SemanaSanta {
    color: #450045;
    background-color: #80008030;
}
#row.SemanaSanta:nth-child(odd) {
    color: #450045;
    background-color: #80008015;
}

#row.Glorias {
    background-color: #add8e640;
}
#row.Glorias:nth-child(odd) {
    background-color: #add8e690;
}
#row.ProcesiónExtraordinaria {
    background-color: #008080;
    color: white;
    border: white .5px solid;
}
#row.ProcesiónExtraordinaria:nth-child(odd) {
    background-color: teal;
    color: white;
}

@keyframes blinker {
    50% {
        background-color: rgba(255, 0, 0, 0.317);
    }
    0% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}
@keyframes blinkerText {
    50% {
        color: red;
    }
    0% {
        color: #000000;
    }
    100% {
        color: #000000;
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;

    tr:hover {
        z-index: 5å;
        cursor: pointer;
    }

    tr {
        z-index: 1;
        height: 4.4vh;
        text-align: center;
    }

    tr.isLive {
        animation: blinker 2s linear infinite;
        background-color: wheat;
        color: red;
    }

    tr:nth-child(odd) {
        background-color: lightgrey;
        z-index: 1;
    }

    td {
        font-size: 1em;
        padding: 0px 5px;
    }
    
}

@media only screen and (max-width: 1250px) {
    table {
        td {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-title {

        h1{
            font-size: 1.5em;
        }

    }
    table {
        th {
            font-size: 0.8em;
        }
        td {
            font-size: 0.5em;
        }
    }
}



