@use "_colors";
@use "sass:color";

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a {
    color: #000000;
    font-size: 2vh;
}

p {
    padding: 0px;
    margin: 10px;
    font-size: calc(2vh - 4px);
}

.container {
    padding: 2vh;
}

h2 {
    text-align: center;
    margin-top: 1vh;
}

.chips {
    span {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        
        &.ssanta {
            background-color: #800080;
        }
        &.glorias {
            background-color: #f5deb3;
        }
        &.Extraordinarias {
            background-color: #008080;
        }
    }
    align-content: center;
    align-items: center;
    width: 90%;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.blinker {
    vertical-align: middle;
    color: red;
    animation: blinker 2s linear infinite;
}

.liveIndicator {
    color: red;
    animation: blinkerText 2s linear infinite;
}


@keyframes blinker {
    50% {
        background-color: rgba(255, 0, 0, 0.317);
    }
    0% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}
@keyframes blinkerText {
    50% {
        color: red;
    }
    0% {
        color: #000000;
    }
    100% {
        color: #000000;
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;

    tr:hover {
        z-index: 5;
        cursor: pointer;
    }

    tr {
        z-index: 1;
        height: 4.4vh;
        text-align: center;
        
        &.isLive {
            animation: blinker 2s linear infinite;
            background-color: wheat;
            color: red;
        }
    }
    

    tbody > tr:nth-child(odd) {
        background-color: #e8f1ff;
        z-index: 1;
    }

    td {
        font-size: 1em;
        padding: .7vw 1vw;

        span {
            padding: .3vw .4vw;
            border-radius: 3px;
            
            &.SemanaSanta {
                background-color: #800080;
                color: white;
            }

            &.Glorias {
                background-color: #f5deb3;
            }

            &.ProcesiónExtraordinaria {
                background-color: #008080;
                color: white;
            }
        }
    }
    
}

@media only screen and (max-width: 1250px) {
    table {
        td {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-title {

        h1{
            font-size: 1.5em;
        }

    }

    .chips {
        span {
            height: 5px;
            width: 5px;
        }

        p {
            font-size: 2.5vw;
        }
    }

    table {
        tr {
            th {
                font-size: 0.7em;
            }
        }
        td {
            font-size: 0.55em;
        }
    }

}